:root {
  --bm-blue: #2271d8;
  --bm-orange: #dc900d;
  --bm-green: #62b200;
  --bm-teal: #008998;
  --bm-border: #ebebeb;
}

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  font-family: "Source Sans 3", sans-serif;
}

.w-fit {
  width: fit-content !important;
}

button:focus,
.navbar-toggler-icon:focus-visible {
  outline: 0px !important;
}

.text-blue {
  color: var(--bm-blue);
}
.text-orange {
  color: var(--bm-orange);
}
.text-green {
  color: var(--bm-green);
}
.text-teal {
  color: var(--bm-teal);
}

.bg-blue {
  background-color: var(--bm-blue);
}
.bg-orange {
  background-color: var(--bm-orange);
}
.bg-green {
  background-color: var(--bm-green);
}
.bg-teal {
  background-color: var(--bm-teal);
}
.bg-light {
  background-color: #e5e5e5;
}

.border-gray {
  border-color: #ced4da;
}
.border-light {
  border-color: #e5e5e5;
}

.btn-light {
  background-color: #f5f3f3;
}
.btn-outline-light {
  border-color: #f5f3f3;
}
.btn-outline-gray {
  border-color: #e5e5e5;
}
.btn-danger {
  background-color: #f01212;
}
.btn-primary {
  background-color: var(--bm-teal);
  border-color: var(--bm-teal);
}

.btn.btn-outline-gray:hover {
  border-color: var(--bm-teal);
  background-color: var(--bm-teal);
  color: #fff !important;
}

.hover-text-primary:hover {
  color: var(--bm-teal) !important;
}

.text-danger {
  color: #f01212;
}

.text-dark {
  color: #111111 !important;
}

.text-gray {
  color: #575757 !important;
}

.text-main,
.text-main * {
  color: #212529 !important;
}

.fs-sm {
  font-size: 14px;
}

.leading-200 {
  line-height: 200%;
}

.spacer-36 {
  padding-top: 36px;
}

.spacer-28 {
  padding-top: 28px;
}

.spacer-22 {
  padding-top: 22px;
}

.w-18 {
  width: 18px;
}

.h-18 {
  height: 18px;
}

.gap-3 {
  gap: 12px;
}

.gap-32 {
  column-gap: 32px;
  row-gap: 32px;
}

.p-24-32 {
  padding: 24px 32px;
}

.my-20-25 {
  margin-top: 20px !important;
  margin-bottom: 25px !important;
}

.col-pad td {
  padding: 0.8rem 0.5rem;
}

.upload {
  display: flex;
  align-items: center;
  gap: 16px;

  position: relative;
  cursor: pointer;
}
.upload img {
  width: 100%;
  max-width: 20px;
}
.upload span {
  border: 1px solid #e0e6eb;
  padding: 12px 16px;
  border-radius: 4px;

  width: 100%;
  max-width: calc(100% - 20px - 16px);
}
.upload input {
  position: absolute;
  visibility: hidden;
}

.small-input {
  max-width: 62px;
  min-height: 32px;
  display: block;
}

header {
  z-index: 999;
}

.btn-toggle-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.btn-toggle-container span {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #575757;
}

.btn-toggle-container .btn-toggle .knob,
.btn-toggle-container .btn-toggle .btn-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.btn-toggle-container .btn-toggle {
  position: relative;
  top: 50%;
  width: 54px;
  height: 26px;
  overflow: hidden;
}

.btn-toggle-container .btn-toggle,
.btn-toggle-container .btn-toggle > .btn-bg {
  border-radius: 100px;
}

.btn-toggle-container .checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.btn-toggle-container .knob {
  z-index: 2;
}

.btn-toggle-container .btn-bg {
  width: 100%;
  background-color: #ebf7fc;
  transition: 0.3s ease all;
  z-index: 1;
}

.btn-toggle-container .btn-toggle .knob:before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 20px;
  height: 10px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  background-color: var(--bm-blue);
  border-radius: 50%;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

.btn-toggle-container .btn-toggle .checkbox:checked + .knob:before {
  content: "";
  left: 30px;
  background-color: var(--bm-green);
}

.btn-toggle-container .btn-toggle .checkbox:checked ~ .btn-bg {
  background-color: #62b2002b;
}

.btn-toggle-container .btn-toggle .knob,
.btn-toggle-container .btn-toggle .knob:before,
.btn-toggle-container .btn-toggle .btn-bg {
  transition: 0.3s ease all;
}

/* Sub Nav Styles */
.sub_nav {
  padding: 19px 22px;
}
.sub_nav .col:nth-child(1) {
  width: 100%;
  max-width: 296px;
}
.sub_nav .col:nth-child(2) {
  width: 100%;
  max-width: 584px;
}
.sub_nav .col:nth-child(3) {
  width: 100%;
  max-width: 260px;
}
.sub_nav .col:nth-child(4) {
  width: 100%;
  max-width: calc(100% - 303px - 584px - 260px);
}

.nav_action_btn {
  padding: 9px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 0;

  font-size: 14px;
  font-weight: bold;
  color: #444444;
  font-family: "Source Sans 3", sans-serif;
}

.edit_btn {
  padding: 9px 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
  border: 1px solid var(--bm-teal);
  background-color: var(--bm-teal);
  border-radius: 0;

  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  font-family: "Source Sans 3", sans-serif;
}

.unsure_btn {
  padding: 9px 11px;
  padding-left: 29px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 0;

  font-size: 14px;
  font-weight: bold;
  color: #444444;
  font-family: "Source Sans 3", sans-serif;

  position: relative;
}
.unsure_btn::before {
  content: "";
  width: 19px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #e5e5e5;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: calc(94px + 86px) 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 303px;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  padding: 22px 32px 62px 23px;
}

.sidebar-sticky::-webkit-scrollbar {
  appearance: none;
  width: 0;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  font-size: 15px;
  color: #29343d;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0.65rem 1rem;
  font-family: "Source Sans 3", sans-serif;
  font-weight: normal;
}

.sidebar .nav-link:hover {
  color: #fff;
  background-color: #008998;
}

.sidebar .nav-link.active {
  color: #fff;
  background-color: #008998;
}

.sidebar .nav-link:hover img,
.sidebar .nav-link.active img {
  filter: brightness(2);
}

.sidebar .sidebar-heading {
  font-size: 12px;
  margin-top: 25px;
  margin-bottom: 0;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
}

.sidebar hr {
  margin-top: 12px;
  margin-bottom: 9px;
  background-color: var(--bm-border);
}

.sidebar .nav-link .counter {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #fff;
  font-family: "Source Sans 3", sans-serif;
  border-radius: 50%;
  margin-left: 6px;
}

.main {
  padding: calc(94px + 86px + 32px) 84px 32px;
  width: 100%;
  max-width: calc(100% - 303px);
  background-color: #008998;
  min-height: calc(100vh - 93.67px);
}

.detail-card .main-heading {
  color: #fff;
  font-family: "Source Sans 3", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 150%;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 17px;
}

.detail-card .card {
  border: 2px solid #dc900d;
  border-radius: 4px;
}
.detail-card .card hr {
  margin: 0;
}
.detail-card .row {
  margin: 0;
  padding: 19px 24px;
}
.detail-card .row .col,
.detail-card .row [class^="col-"] {
  padding: 0;
}
.detail-card .card .row h4 {
  font-family: "Source Sans 3", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 150%;
  margin-top: 0;
  margin-bottom: 4px;
  color: #444444;
}
.detail-card .card .row p {
  font-family: "Source Sans 3", sans-serif;
  font-size: 16px;
  line-height: 150%;
  color: #444444;
  margin: 0;
}

.detail-card.table .card {
  padding-inline: 24px;
}
.detail-card.table .card .row.header_row {
  align-items: center;
  padding-bottom: 5px;
}
.detail-card.table .row {
  padding-inline: 0;
}
.detail-card.table .row.header_row {
  border-bottom: 2px solid var(--bm-orange);
}

.order_action {
  padding: 20px 15px !important;
  border: 1px solid #62b200;
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.order_action:hover {
  background-color: #f4f4f4;
  border: 1px solid #62b200;
}
.order_action span {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 94px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out,
      -webkit-transform 0.3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@media only screen and (max-width: 1710px) {
  .main {
    padding-left: 34px !important;
    padding-right: 34px !important;
  }
  .gap-32 {
    column-gap: 12px;
    row-gap: 32px;
  }
}
